{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main class='main'>
  <section>
    <h1 class='form__header'>Редагувати  товару</h1>

    <div class='form'>
      <h3 class='form__title'>Інформація про товар</h3>
      {{#with data}}
      <form method='POST' action='/product-edit'>

        <div class='form__content'>

          <div class='form__product'>
            <div class='form__field'>
              <label for='name' class='form__label'>Назва
                товару:</label>
              <input
                type='name'
                name='name'
                class='form__input'
                value="{{name}}"
              />
            </div>

            <div class='form__field'>
              <label
                for='price'
                class='form__label'
                
              >Ціна:</label>
              <input
                type='price'
                name='price'
                class='form__input'
                value="{{price}}"
              />
            </div>

            <div class='form__field'>
              <label
                for='id'
                class='form__label'
              >ID:</label>
              <input
                type='id'
                name='id'
                class='form__input'
                value="{{id}}"
              />
            </div>

            <div class='form__description'>
            <label
              for='description'
              class='form__label'
            >Короткий опис товару</label>
            <input
              type='description'
              name='description'
              class='form__input'
              value="{{description}}"
            />
            <p class='form__description_info'>Відображення у
              картці товару</p>
          </div>
          </div>

          

          <button class='form__button'>Зберегти оновлення</button>
          <a href="product-delete?id={{id}}" class='form__button1'>Видалити товар</a>
          <a href="/product-list">Назад</a>
        </div>

      </form>
      {{/with}}
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}