<main class="main">
	{{> heading title="Інформація про товари" info="Комп'ютери та ноутбуки"}}

	{{#with data.product}}
	<form action="/purchase-create?id={{id}}" method="POST">
     	<div class="product-info">

			<img src="{{img}}" alt="{{title}}" class="product-info__image">
			<h2 class="product-info__title">{{title}}</h2>
			<p class="product-info__subtitle">{{description}}</p>
			 
			{{> dvider}}

			 {{#each category}}
			  <span class="product-info__category product-info__category--{{id}}">{{text}}</span>
			 {{/each}}

			 {{> dvider}}

			 {{>field label="Кількість" type="number" name="amount" value="1"}}

			 <a href="/purchase-product?id={{id}}">
			  {{>button text="Купити зараз" price=price}}
			 </a>
	 	
    	</div>
	</form>
	{{/with}}

	{{> heading title="Iнші товари" info="Комп'ютери та ноутбуки"}}

	<div class="product-list">
		{{#each data.list}}
		{{> purchase-product data=this}}
		{{/each}}
	</div>
</main>