{{#with data}}
<div class="product-card">
	<img src="{{img}}" alt="{{title}}" class="product-card_image">
	<h2 class="product-card_title">{{title}}</h2>
	<p class="product-card_subtitle">{{description}}</p>

	{{#each category}}
		<span class="product-card_category product-card_category--{{id}}">{{text}}</span>
	{{/each}}
	<a href="/purchase-product?id={{id}}" class="product-card_button">
	{{> button text="Купити зараз" price=price}}
	</a>
	{{!-- <button href="/purchase-product?id={{id}}" class="product-card_button">
	</button> --}}
</div>
{{/with}}